{% extends 'app/titleBar.html' %}
{% load staticfiles %}
{% block bodyContent %}
<h1 class="bodyTitle text-center"></h1>
<div style="border-bottom: 1px solid {{category.color}}"></div>
<div class="container-fluid mt-5 text-center">
   <form method="post" class="text-center">
       {%csrf_token%}
       <h2>¿Deseas borrar tu cuenta?</h2>
       <br> <h3>Toda tu información e historias serán borradas igualmente</h3>
       <button action="submit" class="btn btn-sm btn-danger">Confirmar </button>
   </form>
    <a href="{%url 'app:home'%}" class="nounderline btn btn-primary text-center text-light">Regresar</a>
</div>
{%endblock%}