{% extends 'app/base_template.html' %}
{% load staticfiles %}

{% block bodyContent %}
<div class="container-fluid mx-auto">
    <h1 class="bodyTitle text-center" style="font-family: 'Abril Fatface', cursive;">Wisapp</h1>
    <div class="container-fluid mt-5">
        {%if error_message%}
        <h2 class="text-danger">Favor de llenar cada campo</h2>
        {%endif%}
        <form method="post" class="mx-auto text-center" >
            {%csrf_token%}
            <div class="form-group">
                <ul>{%for field in form%}
                    <li class="my-1">
                        <label>
                            {{field.label_tag}}
                        </label>
                    </li>
                    <li class="my-1">{{field}}</li>
                    {%endfor%}
                </ul>
            </div>
            <button type="submit" class="btn btn-success ml-4 my-3"><h2> Crear Usuario</h2></button>
        </form>
    </div>
</div>
{%endblock%}