{% extends 'app/titleBar.html' %}
{% load staticfiles %}
{% block bodyContent %}
<div class="container-fluid mt-5">
    <div class="card-deck">
        <div class="card mb-5">
            <div class="card-body">
                <a class="nounderline" href="#"><img class="img-fluid" src="{%static 'media/ranas.jpg' %}"></a>
                <h1 class="card-title text-dark mt-2">Juegos olímpicos 2004 </h1>
                <h6 class="card-subtitle text-dark my-3"><a class="nounderline text-dark" href="#">Escrita por Ali
                    Villegas</a></h6>
                <a href="#" class="btn btn-info btn-sm text-light">
                    <h5>Deporte</h5>
                </a>
                <a href="#" class="btn btn-danger btn-sm text-light">
                    <h5>Historia</h5>
                </a>
                <a class="nounderline " href="#">
                    <div class="storyText mt-2">
                        <p class="text-dark ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate
                        </p>
                    </div>
                </a>
                <div class="card-footer bg-transparent mt-2 .d-md-none .d-lg-block">
                    <ul class="interactFooter">
                        <li>
                            <img class="img-fluid mt-3" src="{%static 'media/commentIcon.png' %}" width="48px"><span
                                class="interactIcons ">Comentar</span>
                        </li>
                        <li>
                            <img class="img-fluid mt-3 "
                                 src="{%static 'media/starEmpty.png' %}" width="48px"><span
                                class="interactIcons">Favorita</span>
                        </li>
                        <li>
                            <img class="img-fluid  mt-3 "
                                 src="{%static 'media/likeIcon.png' %}" width="48px"><span
                                class="interactIcons">1300</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-body">
                <h1 class="card-title text-dark mt-2">Viaje a Zacatecas </h1>
                <h6 class="card-subtitle text-dark my-3"><a class="nounderline text-dark" href="#">Escrita por Ali
                    Villegas</a></h6>
                <a href="#" class="btn btn-warning btn-sm text-light">
                    <h5>Viajes</h5>
                </a>
                <a href="#" class="btn btn-primary btn-sm text-light">
                    <h5>Comedia</h5>
                </a>
                <a class="nounderline " href="#">
                    <div class="storyText mt-2">
                        <p class="text-dark ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.

                        </p>
                    </div>
                </a>
                <div class="card-footer bg-transparent mt-2 .d-md-none .d-lg-block">
                    <ul class="interactFooter">
                        <li>
                            <img class="img-fluid mt-3" src="{%static 'media/commentIcon.png' %}" width="48px"><span
                                class="interactIcons ">Comentar</span>
                        </li>
                        <li>
                            <img class="img-fluid mt-3 "
                                 src="{%static 'media/starEmpty.png' %}" width="48px"><span
                                class="interactIcons">Favorita</span>
                        </li>
                        <li>
                            <img class="img-fluid  mt-3 "
                                 src="{%static 'media/likeIcon.png' %}" width="48px"><span
                                class="interactIcons">1300</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-body">
                <a class="nounderline" href="#"><img class="img-fluid" src="{%static 'media/grandma.png' %}"></a>
                <h1 class="card-title text-dark mt-2">Viaje a Zacatecas </h1>
                <h6 class="card-subtitle text-dark my-3"><a class="nounderline text-dark" href="#">Escrita por Kai Kawasaki </a></h6>
                <a href="#" class="btn btn-success btn-sm text-light">
                    <h5>Receta</h5>
                </a>
                <a href="#" class="btn btn-primary btn-sm text-light">
                    <h5>Comedia</h5>
                </a>
                <a class="nounderline " href="#">
                    <div class="storyText mt-2">
                        <p class="text-dark ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate vepsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate ve

                        </p>
                    </div>
                </a>
                <div class="card-footer bg-transparent mt-2 .d-md-none .d-lg-block">
                    <ul class="interactFooter">
                        <li>
                            <img class="img-fluid mt-3" src="{%static 'media/commentIcon.png' %}" width="48px"><span
                                class="interactIcons ">Comentar</span>
                        </li>
                        <li>
                            <img class="img-fluid mt-3 "
                                 src="{%static 'media/starEmpty.png' %}" width="48px"><span
                                class="interactIcons">Favorita</span>
                        </li>
                        <li>
                            <img class="img-fluid  mt-3 "
                                 src="{%static 'media/likeIcon.png' %}" width="48px"><span
                                class="interactIcons">1300</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    {%endblock%}