{% extends 'app/titleBar.html' %}
{% load staticfiles %}
{% block bodyContent %}
<div class="container-fluid mt-5">
        <div class="card mb-2">
            <div class="card-body">
                <a class="nounderline" href="#"><img class="img-fluid" src="{%static 'media/profilePic.jpg' %}" style="max-height: 400px; display: block; margin: 0 auto"></a>
                <h1 class="card-title text-dark text-center mt-2"><a href="#" class="nounderline text-dark"> Ali Villegas</a> </h1>
                <h2 class="text-center">Biografía:</h2>
                <a class="nounderline " href="#">
                    <div class="storyTextFull mt-1">
                        <p class="text-dark w-75 text-center mx-auto" style="font-size: 30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate
                        </p>
                    </div>
                </a>
            </div>
        </div>
    <div class="text-center">
                <h1 style="font-size: 50px;">Mis Historias</h1>
            </div>
            <div class="card mb-5 mt-5">
            <div class="card-body">
                <a class="nounderline" href="#"><img class="img-fluid" src="{%static 'media/ranas.jpg' %}" style="max-height: 400px; display: block; margin: 0 auto;"></a>
                <h1 class="card-title text-dark mt-2">Juegos olímpicos 2004 </h1>
                <h6 class="card-subtitle text-dark my-3"><a class="nounderline text-dark" href="#">Escrita por Ali
                    Villegas</a></h6>
                <a href="#" class="btn btn-info btn-sm text-light">
                    <h5>Deporte</h5>
                </a>
                <a href="#" class="btn btn-danger btn-sm text-light">
                    <h5>Historia</h5>
                </a>
                <a class="nounderline " href="#">
                    <div class="storyText mt-2">
                        <p class="text-dark ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate
                        </p>
                    </div>
                </a>
                <div class="readMoreText">
                    <a href="#" class="nounderline text-primary">Expandir Historia...</a>
                </div>
                <div class="card-footer bg-transparent mt-2 .d-md-none .d-lg-block">
                    <ul class="interactFooter">
                        <li>
                            <img class="img-fluid mt-3" src="{%static 'media/commentIcon.png' %}" width="48px"><span
                                class="interactIcons ">Comentar</span>
                        </li>
                        <li>
                            <img class="img-fluid mt-3 "
                                 src="{%static 'media/starEmpty.png' %}" width="48px"><span
                                class="interactIcons">Favorita</span>
                        </li>
                        <li>
                            <img class="img-fluid  mt-3 "
                                 src="{%static 'media/likeIcon.png' %}" width="48px"><span
                                class="interactIcons">450</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    {%endblock%}