{% extends 'app/titleBar.html' %}
{% load staticfiles %}
{% block bodyContent %}
<h1 class="bodyTitle text-center">Categorías</h1>
<div class="container-fluid mt-5">
    {%for category in categories%}
        <div class="card mb-5">
            <div class="card-body" style="border: 0px solid {{category.color}}; background-color: {{category.color}}20;">
                <h1 class="card-title mt-2 categoryTitle text-center" style="color: {{category.color}};">{{category.name}}</h1>
                <a class="nounderline " href="#">
                    <div class="storyText mt-2">
                        <p class="text-dark text-center "> {{category.description}}
                        </p>
                    </div>
                </a>
                <div class=" categoryFooter text-center" style="border-top: 3px solid {{category.color}}">
                    <a href="{%url 'app:filteredHome' category.id category.name%}" class="btn btn-primary btn-sm text-light mt-2">
                     <h2>Ver historias</h2>
                     </a>
                     <a href="#" class="btn btn-success btn-sm text-light mt-2">
                     <h2>Seguir Categoría</h2>
                     </a>
                </div>
            </div>
        </div>
    {%endfor%}
</div>

{%endblock%}