{% extends 'app/titleBar.html' %}
{% load staticfiles %}
{% block bodyContent %}
<div class="container-fluid">

    <h1 class="bodyTitle text-center">Nueva Sugerencia o Queja</h1>
    <div class="w-75 text-dark text-left mx-auto" style="font-weight: bold;">
        <h3>Aquí puedes realizar una petición o reportar cualquier problema dentro de la aplicación, pueden ser tanto quejas como sugerencias para eventos y categorías.</h3>
    </div>
</div>
<div class="container-fluid mt-5">
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <form method="post" class=" inputForm text-center" enctype='multipart/form-data'>
        {%csrf_token%}
        <div class="form-group">
            <ul class="pl-0">{%for field in form%}
                <li class="mt-2">
                    <label>
                        {{field.label_tag}}
                    </label>
                </li>
                <li class="mb-4">{{formMedia}}

                    {{field}}

                </li>
                {%endfor%}
            </ul>
        </div>
        <button type="submit" class="btn btn-success  my-3"><h2> Enviar </h2></button>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('input.checkboxInput').on('change', function() {
            $('input.checkboxInput').not(this).prop('checked', false);
        });
        $("#id_image").change(function () {
            var text = $("#id_image").val()
            text = text.substring(text.lastIndexOf("\\") + 1, text.length);
            if (text.length > 20) text = text.substring(0, 20);
            $("#showImage").text(text);
        });

    });
</script>
{%endblock%}