l>{% extends 'app/titleBar.html' %}
{% load staticfiles %}
{% block bodyContent %}
<h1 class="bodyTitle text-center">Nueva historia</h1>
<div class="container-fluid mt-5">
    {%if error_message%}
    <h2 class="text-danger">Favor de llenar cada campo</h2>
    {%endif%}
    <form action="" method="post" class="mx-auto">
        {%csrf_token%}
        <div class="form-group">
            <ul>
                <li><label for="inputStoryTitle">Título</label>
                </li>
                <li>
                    <input type="text" class="form-control d-flex align-items-start" id="inputStoryTitle" aria-describedby="titleHelp"
                           placeholder="Título" required style="max-width: 1200px; margin: 0;">
                    <small id="titleHelp" class="form-text text-muted"></small>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <ul>
                <li><label for="inputStoryDescription">Descripción</label></li>
                <li>
                    <textarea name="inputStoryDescription" id="inputStoryDescription"
                                maxlength="10000" style="resize: none; max-width: 1200px; width: 65%; height: 300px" required></textarea>
                </li>
            </ul>
        </div>

        <h2>Categoria:</h2>

        {%for category in categories%}
        <ul>
            <li><input type="checkbox" class="btn btn-sm text-light" name="categorySelected" />
                <span style="border: 1px solid {{category.color}}; border-radius: 10px; padding: 5px;"> {{category.name}}</span>
            </li>
        </ul>
        {%endfor%}
        <div class="">
            <button type="submit" class="btn btn-success my-3"><h2> Crear historia</h2></button>
        </div>
    </form>

</div>
<script>
    autosize($('inputStoryDescription'));
</script>
{%endblock%}