{% extends 'app/titleBar.html' %}
{% load staticfiles %}
{% block bodyContent %}
<h1 class="bodyTitle text-center">Modificar historia</h1>
<div class="container-fluid mt-5">
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <form method="post" class="text-center" enctype='multipart/form-data'>
        {%csrf_token%}
        <div class="form-group">
            <ul>{%for field in form%}
                <li>
                    <label>
                    {{field.label_tag}}
                    </label>
                </li>
                <li>{{field}} </li>
                {%endfor%}
            </ul>
        </div>
        <button type="submit" class="btn btn-success ml-4 my-3"><h2> Modificar historia</h2></button>
    </form>
</div>
<script>
    $(document).load(function () {
     $("#id_image").css("width","100%");
});
</script>
{%endblock%}