<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wisapp</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="{%static 'app/autosize/src/autosize.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'app/styles.css' %}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{%url 'app:home'%}">Wisapp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{%url 'app:home'%}"><img class="d-sm-block d-md-none"
                                                                   src="{%static 'media/homeIcon.png' %}"
                                                                   width="48px">Inicio <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'app:categories'%}"><img class="d-sm-block d-md-none"
                                                                         src="{%static 'media/categoryIcon.png' %}"
                                                                         width="48px">Categorías</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{%url 'app:events'%}"><img class="d-sm-block d-md-none"
                                                                      src="{%static 'media/eventIcon.png' %}"
                                                                      width="48px">Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{%url 'app:createStory'%}"><img class="d-sm-block d-md-none"
                                                                           src="{%static 'media/eventIcon.png' %}"
                                                                           width="48px">Escribir</a>
            </li>
        </ul>
        <ul>
            <li>
                <div class="dropdown btn btn-sm usernameTitleButton">
                    <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        {{request.user.username}}
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#"><h3>Ver perfil</h3></a>
                        <a class="dropdown-item" href="{%url 'app:logout'%}"><h3>Salir</h3></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

{%block bodyContent%}

{% endblock%}
</body>

<script>


</script>
