@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

.wisapp-logo {
    color: #000;
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}
.navbar-brand {
    color: #000;
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    line-height: 10px;
    margin: 15px;
}
.nav-link {
    margin-left: 6.9%;
}
.nav-item:hover{
    font-weight: bold;
}
.profileIcon:hover{
    color: rgba(0,0,0,.7) !important;
    font-weight: bold;
}
.nounderline {
  text-decoration: none !important
}

.nounderline:visited{
    text-decoration: none!important;
}
a:link {
    color: rgba(0,0,0,.5);
}

/* visited link */
a:visited {
    color: rgba(0,0,0,.5);
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

button:focus{
    outline: 0px;
}

.form-control{
    width: 65%;
    margin: 0 auto;
}
.form {
    font-size: inherit;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: inherit;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #2196F3;
    width: 100%;
    border: 0;
    padding: 30px;
| zz | padding: 30px;
    color: #FFFFFF;
    font-size: inherit;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: inherit;
}

.form .message a {
    color: #2196F3;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

.card-body {
    padding: 0.5rem;
}

.storyText{
    max-height: 520px !important;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
}

.readMoreText{
    margin-top: 5px;
    border-top: 1px solid rgba(5,5,5,0.5);
}

.card-footer{
    border-top: 1px solid rgba(5,5,5,0);
}
body {
    background-color: rgb(245,245,245);
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style-type: none !important;
}

.cardImage{
    max-height: 350px;
}
.interactIcons{
    font-size: 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.categoryComedy{
    color: #2196F3 !important;
}
.categoryFood{
    color: #28a745 !important;
}
.categoryTitle{
    font-size: 40px;
    font-weight: bold;

}

.storyTextFull{
    border-top: 5px solid rgba(240,240,240,0.2);
}

.bodyTitle{
    font-weight: bold;
    font-size: 80px;
    margin-top: 15px;
}
.categoryFooter{
    margin-top: 10px;
}
.categoryComedyFooter{
    border-top: 3px solid #2196F3 !important;
}
.categoryFoodFooter{
    border-top: 3px solid #28a745 !important;
}
.interactFooter{
    padding-left: 10px;
    font-size: 32px;
}

@media (min-width: 0) {
  .card-deck .card {
    flex: 0 0 calc(100% - 30px);
  }

}
@media (min-width: 576px) {
  .card-deck .card {
    flex: 0 0 calc(100% - 30px);
  }

}
@media (min-width: 768px) {
  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }

}
@media (min-width: 992px) {
  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }

}
@media (min-width: 1200px) {
  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }

}